<h1>Cheque para Empleado</h1>
<p>
  <b>Ci:</b>
  <%= @cheque.ci %>
</p>

<p>
  <b>Beneficiario:</b>
  <%= @cheque.beneficiario %>
</p>

<p>
  <b>Monto:</b>
  <%= @cheque.monto %>
</p>

<p>
  <b>fecha de emision:</b>
  <%= @cheque.fecha_emision %>
</p>