<form class="form-horizontal" action="/crear_empleado" method="post">
<fieldset>

<!-- Form Name -->
<legend>Configuraciones</legend>

<div class="form-group">
 <label class="col-md-4 control-label" for="empleado_tipo_almacenamiento">Tipo de Almacenamiento</label>
 <div class="col-md-4">
    <select name="empleado[tipo_almacenamiento]" class="form-control">
      <option value=true>Archivo de Texto</option>
      <option value=false>Memoria</option>
    </select>
    </div>
    <br>
</div>


</fieldset>
</form>