<form class="form-horizontal" action="/save_configurations" method="post">
<fieldset>

<!-- Form Name -->
<legend>Configuraciones</legend>

<div class="form-group">
 <label class="col-md-4 control-label" for="tipo_almacenamiento">Tipo de Almacenamiento</label>
 <div class="col-md-4">
    <select name="[tipo_almacenamiento]" class="form-control">
      <option value="archivo">Archivo de Texto</option>
      <option value="memoria">Memoria</option>
    </select>
    </div>
    <br>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="confirmar"></label>
  <div class="col-md-8">
	  <input id="crear" type="submit" value="Guardar" class="btn btn-primary" />
    <a href="/" class="btn btn-primary"><center>Cancelar</center></a>
  </div>
</div>

</fieldset>
</form>