<h1>Tarjetas de tiempo</h1>
<table class='table table-bordered'>
		<tr class='info'>
		  <th><center>Carnet</center></th>
		  <th><center>Fecha</center></th>
		  <th><center>Hora de Ingreso</center></th>
		  <th><center>Hora de Salida</center></th>
		</tr>

		<% @tarjetas.each do |tarjeta| %>
		  <tr class='active'>
		    <td><center><%= tarjeta.id_empleado %></center></td>
		    <td><center><%= tarjeta.fecha %></center></td>
		    <td><center><%= tarjeta.hora_ingreso %></center></td>
		    <td><center><%= tarjeta.hora_salida %></center></td>
		  </tr>
		<% end %>
</table>